




<div class="container" style="width: 1000px">
	<div class="row">

		<div class="col-md-11">
			<div class="panel panel-primary">

				<div class="panel-heading text-uppercase bg-danger">
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;请假申请</strong>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" ng-submit="save()" role="form"
						name="leaveForm">

						<div class="form-group">
							<label class="control-label col-md-offset-5"><h6>请假单</h6>
							</label><br />
							<div class="row">
								<label for="username" class="col-md-2 control-label">姓名</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="username"
										placeholder="{{meuserfile.name}}" disabled>
								</div>
								<label for="department" class="col-md-2 control-label">部门</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="username"
										placeholder="{{meuserfile.department}}" disabled>
								</div>
							</div>
							<br />
							<div class="row">
								<label for="department" class="col-md-2 control-label">类型</label>
								<div class="col-md-3">
									<select class="form-control" ng-model="leave.type" required>
										<option value="" selected>-----请选择-----</option>
										<option>年假</option>
										<option>病假</option>
										<option>事假</option>
										<option>婚假</option>
										<option>产假</option>
									</select>

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label for="username" class="col-md-2 control-label">开始时间</label>
								<div class="col-md-3">

									<div class="input-group date starttime ">
										<input class="form-control" type="text" id="starttime" disabled>
										<span class="input-group-addon button-glow"  style="background:#16A085"><span
											class="glyphicon glyphicon-th"></span> </span>
									</div>
								
								</div>

								<label for="department" class="col-md-2 control-label">结束时间</label>
								<div class="col-md-3">
									<div class="input-group date endtime ">
										<input class="form-control" type="text" id="endtime" disabled>
										<span class="input-group-addon button-glow" style="background:#16A085"><span
											class="glyphicon glyphicon-th"></span> </span>
									</div>
								</div>
								 {{leave.hours=leave.startTime-leave.endTime}}
                            </div>
						</div>
						<div class="form-group">
							<div class="row">
								<label for="reason" class="col-md-2 control-label">事由</label>

								<div class="col-md-8">
									<textarea class="form-control" rows="5" ng-model="leave.reason"></textarea>
								</div>
							</div>
							<div class="row"></div>
						</div>
						<hr>
						<div class="form-group">
							<div class="row">
								<label for="reason"
									class="col-md-offset-3 col-md-4 control-label"><h6>审批人</h6>
								</label>
							</div>
							<div class="row">
								<label for="department" class="col-md-2 control-label">部门经理</label>
								<div class="col-md-3">

									<select class="form-control"
										ng-model="leave.leaveApprovals[0].userfileid"
										ng-options="u.id as u.name for u in bmuserfiles"
										ng-disabled="meuserfile.role!='普通员工'" required>
										<option value="" selected>-----请选择-----</option>

									</select>

								</div>
								<label for="department" class="col-md-2 control-label">副总经理</label>

								<div class="col-md-3">
									<select class="form-control"
										ng-model="leave.leaveApprovals[1].userfileid"
										ng-options="u.id as u.name for u in fzuserfiles"
										ng-disabled="meuserfile.role=='副总经理'"
										ng-disabled="meuserfile.role=='总经理'" required>
										<option value="" selected>-----请选择-----</option>
									</select>

								</div>
							</div>
							<br />

							<div class="row" ng-show="leave.hours>24"
								ng-disabled="meuserfile.role=='总经理'">
								<label for="department" class="col-md-2 control-label">总经理</label>
								<div class="col-md-3">

									<select class="form-control"
										ng-model="leave.leaveApprovals[2].userfileid"
										ng-options="u.id as u.name for u in zuserfiles" required>
										<option value="" selected>-----请选择-----</option>
									</select>

								</div>

							</div>

						</div>

						<div class="row form-actions">
							<button type="button"
								class="btn btn-inverse button-glow col-md-offset-4 col-md-1"
								ng-disabled="leaveForm.$invalid" ng-click="save()">提交</button>
							<button type="button"
								class="btn btn-inverse button-glow col-md-offset-1 col-md-1"
								ng-click="reset()">清空</button>

						</div>
						<hr>
						{{leave}}


					</form>

				</div>

			</div>

		</div>
	</div>
</div>



