
<div class="container" style="width:1000px">
	<div class="row">

		<div class="col-md-11">
			
			<div class="panel panel-primary">
				<div class="panel-heading text-uppercase bg-danger">
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;请假信息</strong>
				</div>

				<div class="panel-body">
					<div class="panel-group" id="accordion" role="tablist"
						aria-multiselectable="true">

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;1</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
								 <div class="container" style="width:850px ">
	<div class="row">

		<div class="col-md-11">

			<div class="panel panel-primary" style="border-color:#16A085">

				

				<div class="panel-body">
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<label class="control-label col-md-offset-5"><h6>请假单</h6>
							</label><br />
							<div class="row">
								<label for="username" class="col-md-2 control-label">姓名</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="username"
										placeholder="请输入姓名">
								</div>
								<label for="department" class="col-md-2 control-label">部门</label>
								<div class="col-md-3">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>

								</div>
							</div>
							<br />
							<div class="row">
								<label for="department" class="col-md-2 control-label">类型</label>
								<div class="col-md-3">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label for="username" class="col-md-2 control-label">开始时间</label>
								<div class="col-md-3">timepicker</div>
								<label for="department" class="col-md-2 control-label">结束时间</label>
								<div class="col-md-3">timepicker</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label for="reason" class="col-md-2 control-label">事由</label>

								<div class="col-md-8">
									<textarea class="form-control" rows="5"></textarea>
								</div>
							</div>
							<div class="row"></div>
						</div>
						<div class="row">
							<button type="button"
								class="btn btn-inverse button-glow col-md-offset-4 col-md-1">提交</button>
							<button type="button"
								class="btn btn-inverse button-glow col-md-offset-1 col-md-1">清空</button>

						</div>

						<hr>

						<div class="form-group">
							<div class="row">
								<label for="reason"
									class="col-md-offset-3 col-md-4 control-label"><h6>部门经理审批意见</h6>

								</label> <label class="col-md-offset-2 control-label"><br />状态</label>

							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<textarea class="form-control" rows="3" disabled></textarea>
								</div>
							</div>
							<div class="row">
								<label class="col-md-offset-7 control-label">签名</label> <label
									class="col-md-offset-2 control-label">时间</label>
							</div>
						</div>
						<hr>

						<div class="form-group">
							<div class="row">
								<label for="reason"
									class="col-md-offset-3 col-md-4 control-label"><h6>副总经理审批意见</h6>
								</label> </label> <label class="col-md-offset-2 control-label"><br />状态</label>
							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<textarea class="form-control" rows="3" disabled></textarea>
								</div>
							</div>
							<div class="row">
								<label class="col-md-offset-7 control-label">签名</label> <label
									class="col-md-offset-2 control-label">时间</label>
							</div>
						</div>
						<hr>

						<div class="form-group">
							<div class="row">
								<label for="reason"
									class="col-md-offset-3 col-md-4 control-label"><h6>总经理审批意见</h6>
								</label> </label> <label class="col-md-offset-2 control-label"><br />状态</label>
							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<textarea class="form-control" rows="3" disabled></textarea>
								</div>
							</div>
							<div class="row">
								<label class="col-md-offset-7 control-label">签名</label> <label
									class="col-md-offset-2 control-label">时间</label>
							</div>
						</div>


					</form>
				</div>

			</div>
		</div>
	</div>
</div></div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;2</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
								<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;3</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;4</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;5</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;6</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;7</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;8</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;9</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;10</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;11</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-2" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;12</div>
										<div class="col-md-2" style="color: #34495e">日期</div>
										<div class="col-md-2" style="color: #34495e">时间</div>
										<div class="col-md-2" style="color: #34495e">请假类型</div>
										<small class="col-md-offset-2 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						
						
							
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">three</div>
							</div>

						</div>
						<div class="col-md-offset-3" style="height: 40px">
							<div class="pagination">
								<ul>
									<li class="previous"><a href="#fakelink"
										class="fui-arrow-left"></a>
									</li>
									<li class="active"><a href="#fakelink">1</a>
									</li>
									<li><a href="#fakelink">2</a>
									</li>
									<li><a href="#fakelink">3</a>
									</li>
									<li><a href="#fakelink">4</a>
									</li>
									<li><a href="#fakelink">5</a>
									</li>
									<li><a href="#fakelink">6</a>
									</li>
									<li><a href="#fakelink">7</a>
									</li>
									<li><a href="#fakelink">8</a>
									</li>
									<li class="next"><a href="#fakelink"
										class="fui-arrow-right"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<script>
		$(function() {
			$(".pinned").pin()
		})
	</script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		//language:  'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});
</script>