
<div class="container" style="width:1000px">
	<div class="row">

		<div class="col-md-11">
			
			<div class="panel panel-primary">
				<div class="panel-heading text-uppercase bg-danger">
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;查看可休年假</strong>
				</div>

				<div class="panel-body">
					<div class="panel-group" id="accordion" role="tablist"
						aria-multiselectable="true">

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
								<div class="container" style="width:850px">
	<div class="row">

		<div class="col-md-11">

			<div class="panel panel-primary">

				

				<div class="panel-body">
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<label class="control-label col-md-offset-5"><h5>可休年假明细</h5>
							</label><br/><br/><br/><br/>
							<div class="row">
								<label for="username" class="col-md-4 control-label" style="font-size:25px">姓名： 郜如明</label>
								<div class="col-md-3">
									
								</div>
								<label for="department" class="col-md-3 control-label" style="font-size:25px">部门：研发部</label><br/><br/><br/><br/>
								<div class="col-md-3">
									

								</div>
							</div>
						
						</div>
						<div class="form-group">
							<div class="row">
								<label  class="col-md-offset-1 col-md-4 control-label" for="username"  style="font-size:25px">可休年假天数</label>
								
								<div class="col-md-3 control-label"><input style="background-color: #E0E0E0;margin-top:10px" value="15天" type="text" name="days" disabled="true" ></div>
							</div>	
							<br/><br/><br/>
							<div class="row">	
								<label  class="col-md-offset-1 col-md-4 control-label" for="username"  style="font-size:25px">年假已休天数</label>
								
								<div class="col-md-3 control-label"><input style="background-color: #E0E0E0;margin-top:10px" value="12天" type="text" name="days" disabled="true" ></div>
							</div>
							<br/><br/><br/>
							<div class="row">	
								<label  class="col-md-offset-1 col-md-4 control-label" for="username"  style="font-size:25px">年假剩余天数</label>
								
								<div class="col-md-3 control-label"><input style="background-color: #E0E0E0;margin-top:10px" value="3天" type="text" name="days" disabled="true" ></div>
							</div>
						</div>
						
						

						<hr>

						
						<hr>

						
						<hr>

						


					</form>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		//language:  'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});

</script><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-md-3" style="color: #34495e">&nbsp;&nbsp;&nbsp;&nbsp;姓名</div>
										
										<div class="col-md-3" style="color: #34495e">部门</div>
										<small class="col-md-offset-3 col-md-2" style="top: 4px"><a
											data-toggle="collapse" data-parent="#accordion"
											href="#collapseThree" aria-expanded="true"
											aria-controls="collapseThree">查看详情▼ </a> </small>
									</div>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>three</div>
							</div>

						</div>
						
						
						
						<div class="col-md-offset-3" style="height: 40px">
							<div class="pagination">
								<ul>
									<li class="previous"><a href="#fakelink"
										class="fui-arrow-left"></a>
									</li>
									<li class="active"><a href="#fakelink">1</a>
									</li>
									<li><a href="#fakelink">2</a>
									</li>
									<li><a href="#fakelink">3</a>
									</li>
									<li><a href="#fakelink">4</a>
									</li>
									<li><a href="#fakelink">5</a>
									</li>
									<li><a href="#fakelink">6</a>
									</li>
									<li><a href="#fakelink">7</a>
									</li>
									<li><a href="#fakelink">8</a>
									</li>
									<li class="next"><a href="#fakelink"
										class="fui-arrow-right"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<script>
		$(function() {
			$(".pinned").pin()
		})
	</script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		//language:  'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});
</script>